.addpicture {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(165, 87, 42);
    padding: 10px 0;
    &>span {
        margin-left: 20px;
        font-size: 20px;
        color: white;
    }
    &>#loadPicture {
        outline: none;
        border-radius: 5px;
        background-color: orange;
        height: 40px;
        width: 300px;
        margin: 0 10px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.897);
    }
    &>input[type='submit'] {
        display: none;
        outline: none;
        border-radius: 5px;
        background-color: orange;
        height: 40px;
        width: 300px;
        margin: 0 10px;
        font-size: 20px;
        margin: 0 10px;
    }
}