* {
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 100%;
  max-width: 1100px;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  flex-direction: column;
}
.header {
  background-color: rgb(19, 18, 18);
  display: flex;
  width: 100%;
  &__nav {
    width: 100%;
    display: flex;
    border-bottom: 2px solid white;

    & ul {
      padding: 0 10px;
      min-height: 70px;
      align-items: center;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      & > li {
        display: flex;
        margin-right: 20px;
        & > a {
          text-decoration: none;
          color: rgb(251, 251, 251);
          font-size: 1.5rem;
          transition: transform 0.3s;
          &::first-letter {
            text-transform: uppercase;
            color: rgb(253, 167, 6);
          }
        }
        & > a:hover {
          transform: rotate(5deg);
        }
      }
    }
  }
}
.loader {
  padding: 10px;
  display: flex;
  background-color: black;
  border-bottom: 2px solid white;
  min-height: 70px;
  align-items: center;
  & form {
    display: flex;
    flex-direction: column;
    & input {
      background-color: white;
      outline: none;
    }
    & button {
      margin-top: 10px;
    }
  }
}
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(90, 34, 8);
  padding: 20px;
  &__image {
    display: flex;
    margin: 10px;
    & > img {
      border: 1px solid white;
      height: 200px;
      transition: transform 0.3s;
    }
    & > img:hover {
      transform: scale(1.03);
    }
  }
}
