* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #131212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid white;
}

.header__nav ul {
  padding: 0 10px;
  min-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__nav ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.header__nav ul > li > a {
  text-decoration: none;
  color: #fbfbfb;
  font-size: 1.5rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header__nav ul > li > a::first-letter {
  text-transform: uppercase;
  color: #fda706;
}

.header__nav ul > li > a:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.loader {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  border-bottom: 2px solid white;
  min-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loader form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  padding: 10px;
  background-color: white;
  outline: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader form button {
  height: 50px;
  margin-top: 10px;
  font-size: 1.2rem;
}

.result_loader {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 400px;
  z-index: 100;
  background-color: black;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  border: 1px solid gray;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.result_loader > p {
  margin: 5px;
  color: white;
  font-size: 1.1rem;
}

.gallery-cont h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: black;
  color: white;
}

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #050505;
  padding: 20px;
}

.gallery__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.gallery__image > img {
  border: 1px solid white;
  height: 200px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.gallery__image > img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
/*# sourceMappingURL=style.css.map */