@keyframes top-bot {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0);
  }
}
