.header {
  width: 100%;
  position: fixed;
  color: $color-light;
  transition: background-color 0.7s;
  z-index: 100;
  box-sizing: border-box;
  align-items: center;

  &.active {
    background-color: rgb(26, 25, 25);
    position: fixed;
    color: $color-dark;
    -webkit-box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.75);
  }
  &__cont {
    min-height: 75px;
    width: 100%;
    max-width: $max-width;
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 10px var(--padding);
  }
  &__cont.active {
    padding: 10px var(--padding) 25px;
  }
  &__nav {
    order: 1;
    min-width: 60%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-around;
    & > div.on-of {
      display: none;
      & > i {
        font-size: 2rem;
        color: $color-light;
      }
    }
    & > div.on-of.of {
      display: flex;
    }
    & > div.menu {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      & > a {
        @include firstLetter($text-size: 1.1rem, $color: $color-bright);
        cursor: pointer;
        margin-right: 20px;
        position: relative;
        list-style-type: none;
        font-size: 1.1rem;
        line-height: 20px;
        font-family: $ff;
        font-weight: 500;

        letter-spacing: 1.1px;
        text-decoration: none;
        color: $color-light;
      }
      & > a:hover {
        color: $color-light-hover;
        animation: rotate 1.5s linear infinite;
      }
      & > a:active {
        color: $color-light-active;
      }
      & > a:hover::after {
        position: absolute;
        content: '_';
        display: flex;
        right: -10px;
        top: 0;
        color: $color-light-hover;
      }
      & > a:active::after {
        position: absolute;
        content: '_';
        display: flex;
        right: -10px;
        top: 0;
        color: $color-light-active;
      }
      & > a.active {
        cursor: pointer;
        position: relative;
        list-style-type: none;
        font-size: 14px;
        font-size: 1.1rem;
        line-height: 20px;
        font-family: $ff;
        font-weight: 500;
        letter-spacing: 1.1px;
        color: $color-light-hover;
      }
      & > a.active:hover {
        color: $color-light-hover;
        animation: rotate 1.5s linear infinite;
      }
      & > a.active:active {
        color: $color-light-active;
      }
      & > a.active:hover::after {
        position: absolute;
        content: '_';
        display: flex;
        right: -10px;
        top: 0;
        color: $color-light-hover;
      }
      & > a.active:active::after {
        position: absolute;
        content: '_';
        display: flex;
        right: -10px;
        top: 0;
        color: $color-light-active;
      }
    }
  }
  &__search {
    order:2;
    min-height: 20px;
    display: flex;
    & input {
      display: flex;
      outline: none;
      border: none;
      border-radius: 3px 0 0 3px;
      padding: 0 5px;
    }
    & input.active {
      border: 1px solid rgba(128, 128, 128, 0.212);
      border-right: none;
    }
    & button {
      width: 30px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
      border-radius: 0 3px 3px 0;
    }
  }
  &__login {
    order:3;
    display: flex;
    & > a {
      text-decoration: none;
      cursor: pointer;
      position: relative;
      list-style-type: none;
      font-size: 14px;
      line-height: 20px;
      font-family: $ff;
      text-transform: uppercase;
      font-weight: 700;
      color: $color-light;
    }
    & > a:hover {
      color: $color-light-hover;
    }
    & > a:active {
      color: $color-light-active;
    }
    & > a.hide {
      display: none;
    }
    & > a.active {
      text-decoration: none;
      cursor: pointer;
      position: relative;
      list-style-type: none;
      font-size: 14px;
      line-height: 20px;
      font-family: $ff;
      text-transform: uppercase;
      font-weight: 700;
      color: $color-light;
    }
    & > a.active:hover {
      color: $color-light-hover;
    }
    & > a.active:active {
      color: $color-light-active;
    }
    & > a.active.hide {
      display: none;
    }
  }
}

@include mq($hover-off, max) {
  .header {
    &__nav {
      & > div.menu {
        & > a {
          color: $color-light;
        }
        & > a:hover {
          color: $color-light;
          animation: none;
        }
        & > a:active {
          color: $color-light-active;
        }
        & > a:hover::after {
          position: absolute;
          content: '_';
          display: flex;
          right: -10px;
          top: 0;
          color: transparent;
        }
        & > a:active::after {
          position: absolute;
          content: '_';
          display: flex;
          right: -10px;
          top: 0;
          color: transparent;
        }
        & > a.active {
          cursor: pointer;
          position: relative;
          list-style-type: none;
          font-size: 14px;
          font-size: 1.1rem;
          line-height: 20px;
          font-family: $ff;
          font-weight: 500;
          letter-spacing: 1.1px;
          color: $color-light-hover;
        }
        & > a.active:hover {
          color: $color-light;
          animation: none;
        }
        & > a.active:active {
          color: $color-light-active;
        }
        & > a.active:hover::after {
          position: absolute;
          content: '_';
          display: flex;
          right: -10px;
          top: 0;
          color: transparent;
        }
        & > a.active:active::after {
          position: absolute;
          content: '_';
          display: flex;
          right: -10px;
          top: 0;
          color: transparent;
        }
      }
    }
  }
}


@include mq(900px, max) {

  .header {
 
    &__cont {
      padding: 25px var(--padding) 25px;
    }
    &__cont.active {
      padding: 25px var(--padding) 25px;
    }
    &__nav {
      width: 80%;
    }

    &__login {
      order:2
    }
    &__search {
      margin-top: 20px;
      order:3
    }
  }

}
@include mq(700px, max) {

  .header {
    background-color: rgb(26, 25, 25);

    &__nav {
      width: 100%;
      position: absolute;
      padding: 20px var(--padding);
      align-items: start;
      box-sizing: border-box;
      justify-content: start;

      top:0;
      left: 0;
      & > div.on-of {
        display: flex;
      }
      & > div.menu {
        background-color: rgb(26, 25, 25);
        top: 70px;
        left: 0;
        position: absolute;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: transform .5s ;
        & > a {
          width: 100%;
          margin-right: 0px;
          display: flex;
          justify-content: center;
          padding: 5px;
          box-sizing: border-box;
        }

        & > a:not(:last-child) {
          border-bottom: 1px solid $color-dark;
        }

      }
      & > div.menu.active {
        transform: scaleY(1);
      }
    }

    &__login {
      
      position: absolute;
      margin-top: 5px;
      top: 20px;
      right: 25px;
      order:2
    }
    &__search {
     width: 45%;
      margin-top: 5px;
      position: absolute;
      top: 20px;
      left: 25%;
      & > input  {
        width: 100%;
      }
    }
  }
}