.person-area {
  width: 100%;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 50vh;
  padding: 50px;
  box-sizing: border-box;

  & > p.title {
    color: $color-dark;
    font-size: 1.5rem;
    margin: 20px 0 0 0;
    display: flex;
    text-align: left;
    width: 100%;
    max-width: 700px;
    font-weight: 600;
  }
  & > form.site {
    & > label.save {
      margin-top: 10px;
      display: flex;
      align-items: center;
      flex-direction: row;

      & > input {
        margin-left: 10px;
        width: 15px;
        height: 15px;
      }
    }
    & > p.title {
      color: $color-dark;
      font-size: 1.5rem;
      margin: 20px 0 0 0;
      display: flex;
      text-align: left;
      width: 100%;
      max-width: 700px;
      font-weight: 600;
    }
    & > label {
      width: 100%;
      max-width: 700px;
      display: flex;
      flex-direction: column;
      margin: 20px 0 0 0;
      & > p.title-small {
        margin: 10px 0;
        color: $color-dark;
        font-size: 1rem;
      }
      & > p.message {
        margin: 10px 0;
        color: red;
        font-size: 1rem;
        font-style: italic;
        font-weight: 300;
      }
      & > input {
        outline: none;
        min-height: 30px;
        padding: 10px;
        font-size: 1.2rem;
        color: $color-dark;
        border-radius: 5px;
        border: 1px solid $color-light-grey;
        @include placeholder {
          font-size: 1.2rem;
        }
      }
    }

    & > a {
      margin: 10px 0;
      width: 100%;
      max-width: 700px;
      display: flex;
      color: $color-dark;
      justify-content: flex-start;
    }
    & > button {
      width: 100%;
      max-width: 400px;
      outline: none;
      padding: 15px;
      background-image: url('@/img/fonforlittelelem.jpg');
      background-size: contain;
      background: rgb(0, 0, 0);
      border: none;
      @include shadow;
      border-radius: 20px;
      font-size: 1.3rem;
      @include bc-fone;
      color: $color-light;
      margin: 10px 0;
      &:active {
        transform: scale(0.99);
      }
    }
    .error {
      background-color: rgba(255, 0, 0, 0.205);
      border-color: red;
    }
    & .img {
      display: flex;
      width: 200px;
      height: 250px;
      border-radius: 10px;
      @include shadow;
      & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    & .field {
      margin: 20px 0;
      display: flex;
      width: 100%;
      max-width: 700px;
      align-items: center;
      justify-content: flex-start;
      & .title {
        display: flex;
        color: $color-dark;
        font-size: 1.2rem;
        font-weight: 600;
      }
      & .value {
        display: flex;
        color: $color-dark;
        font-size: 1.1rem;
        margin-left: 20px;
        font-style: italic;
      }
    }
  }
}
.social-network {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  & > .list {
    display: flex;
    & > form {
      display: flex;
      & > button {
        background-color: transparent;
        border: none;
        margin-right: 30px;
        display: flex;
        text-decoration: none;
        outline: none;
        & > i {
          font-size: 3rem;
          color: rgb(0, 132, 255);
        }
        & > i:hover {
          color: $color-dark-hover;
        }
        & > i:active {
          color: $color-dark-active;
        }
      }
    } 
  }
  & > label.save {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;

    & > input {
      margin-left: 10px;
      width: 15px;
      height: 15px;
    }
  }
}