<form class="addpicture" method="POST" enctype="multipart/form-data">
    <input type="button" id="loadPicture" value="Add  picture to gallery" onclick="document.getElementById('file').click();"/>
    <input type="file" style="display:none;" id="file" name="file[]"  multiple/>
    <input type="submit" value="Load following picture to gallery" >
    <span id='link'></span>
</form>

<script src="./js/addPictures.js"></script>